.propiedades__header {
    padding: 7rem 0;
    margin: 7rem 1rem;
    text-align: center;
    color: white;
    
    background-image: url(../image/header_propiedades.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h2 {
        margin: 0 auto;
        width: 300px;
        color: $negro;
    }

    p {
        color: $blanco;
    }
}

.blanco {
    margin: 0 auto;
    width: 90%;
    padding: 6rem 0;
    background-color: rgba($blanco, $alpha: .8);
}

.buscador {
    text-align: center;
    padding-bottom: 7rem;
}

.propiedades__propiedades {
    padding-bottom: 7rem;
    margin: 0 3rem;
}

.propiedades__propiedades-img {
    height: 200px;
}

.propiedades__info {
    padding-top: 1.5rem;
    padding-bottom: 7rem;
}
