.somos {
    padding-top: 12rem;
    padding-bottom: 5rem;
    h3 {
        max-width: 300px;
    }
    h6 {
        font-weight: bold;
    }
    p {
        text-align: justify;
    }
    padding-bottom: 4rem;
}

.somos__titulos {
    text-align: justify;
    padding-bottom: 2.5rem;
}

.somos__separador {
    padding-bottom: 10rem;
}

.somos__fotos {
    margin: 0 30px;
    
    padding-bottom: 10rem;
    img {
        height: 340px;
    }
}

.equipo {
    text-align: center;
    padding-bottom: 5rem;
    p {
        line-height: 1px;
    }

    img {
        border-radius: 50%;
        width: 120px;
        
    }
    h5 {
        padding-top: 1rem;
    }
}

.equipo__equipo {
    padding-top: 5rem;
}