// Fuentes
$lara: 'Lora', serif;
$yatra: 'Yantramanav', sans-serif;

// Pesos de fuentes
$light: 300;
$regular: 400;
$bold: 500;

// Tamaño de fuentes
$xxx-large: 48px;
$xx-large: 40px;
$x-large: 32px;
$large: 28px;
$medium: 22px;
$small: 16px;

// Título h1
// Tamaño: 48
// Grosor: 500

// Subtitulo h2
// Tamaño: 40
// Grosor: 500

// Sub Subtitulo h3 y h4
// Tamaño: 28 y 32 
// Grosor: 400

// Números h6
// Tamaño: 22
// Grosor: 300

// Botón
// Tipografía: Lora
// Tamaño:16
// Grosor: 500
// Color: #3b3b3b