@media (max-width: 756px) {
    .navbar-brand {
        padding-left: 2rem !important;
    }

    header h2 {
     max-width: 300px;   
    }

    .ventas, .servicios  {
        padding-left: 3rem;
    }

    .servicios {
        padding-top: 2rem;
        padding-bottom: 3rem !important;
    }

    .servicios__servicios {
        padding: 0 3rem 2rem 3rem !important;
    }

    .propiedades__card, .integrales__cards {
        padding: 0rem 1rem !important;
    }

    .propiedades__card-img img {
        max-width: 330px;
        height: 232px;
    }

    .propiedades__texto {
        padding: 0 1.25rem 4rem 1.25rem !important;
        margin: 0 auto;
        max-width: 330px;
    }

    .integrales__titulo p {
        padding: 2rem 2rem !important;
    }

    .integrales__fotos-2 img {
        padding: 0 0 1rem 0rem !important;
    }
    
    footer {
        padding-left: 3rem !important;
    }
}

@media (min-width: 756px) {
    .cards {
        margin: auto;
    }
    .cards__img {
        width: 179px;
        height: 250px;
    }
    .propiedades__card img {
        width: 100%;
        height: 100%;
    }
    .servicios__servicios {
        margin: 0 auto;
        max-width: 220px;
    }
    .integrales__titulo p {
        padding: 2rem 4rem;
    }
}

@media (min-width: 992px) {
    .ancho {
        margin: 0 auto;
        width: 45%;
    }

    .ancho2 {
        margin: 0 auto;
        width: 40%;
    }
    .propiedades__card-img img {
        width: 100%;
        height: 100%;
    }
    .integrales__titulo p {
        padding: 2rem 6rem;
    }
}

@media (min-width: 1200px) {
    .navbar-collapse a {
        padding-right: 2rem !important;
    }

}