@media (max-width: 756px) {
    .navbar-brand {
        padding-left: 2rem !important;
    }

    header h2 {
     max-width: 300px;   
    }

    .ventas, .servicios, .servicios__servicios {
        padding-left: 3rem;
    }

    .propiedades__img {
        padding-right: 0 !important;
        text-align: left !important;
        img {
            width: 330px !important;
            height: 309px !important;
            margin: auto !important;
            padding-top: 3rem !important;
        }
    }

    .propiedades__texto {
        padding: 0 3rem !important;
    }

    
    footer {
        padding-left: 3rem !important;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 3rem !important;
    }
    .navbar-collapse a {
        padding-right: 1rem !important;
    }
}

@media (min-width: 1200px) {
    .navbar-collapse a {
        padding-right: 4rem !important;
    }
}