@media (max-width: 756px) {
    .navbar-brand {
        padding-left: 2rem !important;
    }

    header h2 {
     max-width: 300px;   
    }

    .ventas, .servicios  {
        padding-left: 3rem;
    }

    .servicios {
        padding-top: 2rem;
        padding-bottom: 3rem !important;
    }

    .servicios__servicios {
        padding: 0 3rem 2rem 3rem !important;
    }

    .propiedades__texto {
        padding: 0 3.8rem !important;
    }

    .propiedades__card, .integrales__cards {
        padding: 2rem 3rem !important;
    }
    
    footer {
        padding-left: 3rem !important;
    }
}

@media (min-width: 756px) {
    .cards {
        margin: auto;
    }
    .cards__img {
        width: 179px;
        height: 250px;
    }
}

@media (min-width: 992px) {
    .ancho {
        margin: 0 auto;
        width: 45%;
    }

    .ancho2 {
        margin: 0 auto;
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .navbar-collapse a {
        padding-right: 2rem !important;
    }
}