@charset "UTF-8";
@media (max-width: 756px) {
  .navbar-brand {
    padding-left: 2rem !important;
  }

  header h2 {
    max-width: 300px;
  }

  .ventas, .servicios {
    padding-left: 3rem;
  }

  .servicios {
    padding-top: 2rem;
    padding-bottom: 3rem !important;
  }

  .servicios__servicios {
    padding: 0 3rem 2rem 3rem !important;
  }

  .propiedades__card, .integrales__cards {
    padding: 0rem 1rem !important;
  }

  .propiedades__card-img img {
    max-width: 330px;
    height: 232px;
  }

  .propiedades__texto {
    padding: 0 1.25rem 4rem 1.25rem !important;
    margin: 0 auto;
    max-width: 330px;
  }

  .integrales__titulo p {
    padding: 2rem 2rem !important;
  }

  .integrales__fotos-2 img {
    padding: 0 0 1rem 0rem !important;
  }

  footer {
    padding-left: 3rem !important;
  }
}
@media (min-width: 756px) {
  .cards {
    margin: auto;
  }

  .cards__img {
    width: 179px;
    height: 250px;
  }

  .propiedades__card img {
    width: 100%;
    height: 100%;
  }

  .servicios__servicios {
    margin: 0 auto;
    max-width: 220px;
  }

  .integrales__titulo p {
    padding: 2rem 4rem;
  }
}
@media (min-width: 992px) {
  .ancho {
    margin: 0 auto;
    width: 45%;
  }

  .ancho2 {
    margin: 0 auto;
    width: 40%;
  }

  .propiedades__card-img img {
    width: 100%;
    height: 100%;
  }

  .integrales__titulo p {
    padding: 2rem 6rem;
  }
}
@media (min-width: 1200px) {
  .navbar-collapse a {
    padding-right: 2rem !important;
  }
}
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  font-weight: 500;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
  line-height: 60px;
}

h5 {
  font-size: 22px;
  line-height: 38px;
}

h6 {
  font-size: 16px;
  line-height: 28px;
}

p {
  font-weight: 400;
  color: #3b3b3b;
}

a {
  color: #141414;
  text-decoration: none;
}

.btn-color {
  padding: 0.1rem 3rem;
  background-color: #3b3b3b;
  color: #ffffff;
}
.btn-color:hover {
  color: #ffffff;
}
.btn-color a:focus {
  color: #ffffff;
}

.bg-color {
  background-color: #141414;
}

.navbar-brand {
  font-size: 2rem;
}

header {
  padding: 7rem 0;
  margin: 10rem 1rem;
  text-align: center;
  color: white;
  background-image: url(../image/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header h2 {
  margin: 0 auto;
  width: 600px;
}
header p {
  color: #ffffff;
}

.ventas {
  padding-bottom: 4rem;
}
.ventas h3 {
  max-width: 300px;
  padding-bottom: 2rem;
}
.ventas p {
  text-align: justify;
}

.ventas__text2 p {
  font-family: "Yantramanav", sans-serif;
}

.servicios {
  padding-bottom: 4rem;
}
.servicios h3 {
  padding-bottom: 2rem;
}
.servicios h4 {
  padding-bottom: 1rem;
}

.servicios__servicios {
  padding: 0 2rem 5rem 2rem;
}

.servicios__card {
  margin: auto;
  max-width: 330px;
  padding: 3rem 0;
}
.servicios__card img {
  height: 232px;
}

.servicios__card-texto {
  padding: 1.25rem;
}

.card {
  border: 0;
}

.propiedades {
  padding: 4rem 0;
  text-align: center;
}
.propiedades h3 {
  padding-bottom: 2rem;
}

.propiedades__card {
  margin: auto;
  padding-bottom: 3rem;
}

.propiedades__card-img {
  padding: 1.5rem;
}

.propiedades__texto {
  text-align: left !important;
  padding-left: 2rem;
}

footer {
  background-color: #404e57;
  color: #ffffff;
  padding: 4rem 0;
}
footer p {
  color: #ffffff;
  padding-top: 1rem;
}

.somos {
  padding-top: 12rem;
  padding-bottom: 5rem;
  padding-bottom: 4rem;
}
.somos h3 {
  max-width: 300px;
}
.somos p {
  text-align: justify;
}

.somos__titulos {
  text-align: justify;
  padding-bottom: 2.5rem;
}

.somos__separador {
  padding-bottom: 10rem;
}

.somos__fotos {
  margin: 0 30px;
  padding-bottom: 10rem;
}
.somos__fotos img {
  height: 240px;
}

.equipo {
  text-align: center;
  padding-bottom: 5rem;
}
.equipo p {
  line-height: 1px;
}
.equipo img {
  border-radius: 50%;
  width: 120px;
}
.equipo h5 {
  padding-top: 1rem;
}

.equipo__equipo {
  padding-top: 5rem;
}

.propiedades__header {
  padding: 7rem 0;
  margin: 7rem 1rem;
  text-align: center;
  color: white;
  background-image: url(../image/header_propiedades.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.propiedades__header h2 {
  margin: 0 auto;
  width: 300px;
  color: #141414;
}
.propiedades__header p {
  color: #ffffff;
}

.blanco {
  margin: 0 auto;
  width: 90%;
  padding: 6rem 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.buscador {
  text-align: center;
  padding-bottom: 7rem;
}

.propiedades__propiedades {
  padding-bottom: 7rem;
  margin: 0 auto;
}

.propiedades__priedades-card {
  margin: 0 auto;
  max-width: 330px;
}

.propiedades__propiedades-img {
  height: 200px;
}

.propiedades__info {
  padding: 1.5rem 1.2rem 7rem 1.2rem;
}

.ofrecer {
  padding: 7rem 0;
  margin: 7rem 1rem;
  text-align: center;
  color: white;
  background-image: url(../image/cocina_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ofrecer__titulo {
  margin: 0 4rem;
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #141414;
}

.ofrecer__img {
  margin: 0 auto;
}
.ofrecer__img img {
  height: 200px;
  width: 90%;
}

.ofrecer__texto {
  margin: 0 auto;
  width: 60%;
  text-align: left;
  padding-top: 1.5rem;
}
.ofrecer__texto h3 {
  padding-bottom: 1rem;
}

.pilares {
  padding: 5rem 0;
  text-align: center;
}

.pilares__titulo {
  margin: 0 auto;
  max-width: 390px;
  padding-bottom: 4rem;
}

.pilares__texto {
  text-align: left;
  padding-bottom: 3rem;
}

.integrales__header {
  padding: 7rem 0;
  margin: 7rem 1rem;
  text-align: center;
  background-image: url(../image/living_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.integrales__titulo {
  margin: 0 4rem;
  padding: 2rem 0rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #141414;
}
.integrales__titulo h2 {
  margin: 0 auto;
  max-width: 350px;
}

.integrales__tarjetas {
  padding: 4rem 0;
}

.integrales__cards {
  padding: 2rem 0;
}

.integrales__fotos {
  margin: 0 1rem;
}

.integrales__fotos-1 img {
  height: 900px;
  width: 100%;
  padding-bottom: 1rem;
  overflow: hidden;
}

.integrales__fotos-2 img {
  height: 300px;
  width: 100%;
  padding: 0 0 1rem 1rem;
  overflow: hidden;
}

.contacto {
  padding: 10rem 0;
}

.contacto__texto {
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 320px;
}
.contacto__texto h2 {
  padding-bottom: 2rem;
}

.contacto__formulario {
  margin: 0 auto;
  max-width: 75%;
}

.contacto__bg {
  background-image: url(../image/living_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto__btn {
  text-align: center;
  padding-top: 1.5rem;
}

textarea {
  background-color: gray;
}

.error {
  padding: 7rem 0;
  margin: 7rem 1rem;
  text-align: center;
  background-image: url(../image/baño_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.error__texto {
  margin: 0 auto;
  padding: 5rem 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #141414;
  max-width: 340px;
}
.error__texto h2 {
  padding-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
