footer {
    background-color: $azul;
    color: $blanco;
    padding: 4rem 0;
    p {
        color: $blanco;
        padding-top: 0.8rem;       
    }
}

.footer__texto p {
    padding-top: .5rem !important;
    margin-bottom: 0 !important;
}