.propiedades {
    padding-bottom: 4rem;
    text-align: center;
    h3 {
        padding-bottom: 2rem;
    }
}

.propiedades__card {
    margin: auto;
    padding-bottom: 3rem;
}

.propiedades__img {
    text-align: right;
    padding: 0 2rem !important;
    img {
        width: 300px;
        padding: 1rem 0;
    }
}

.propiedades__texto {
    text-align: left;
    padding-left: 2rem;
}



