.propiedades {
    padding: 4rem 0;
    text-align: center;
    h3 {
        padding-bottom: 2rem;
    }
}

.propiedades__card {
    margin: auto;
    padding-bottom: 3rem;
}
.propiedades__card-img {
    padding: 1.5rem ;
}

.propiedades__texto {
    text-align: left !important;
    padding-left: 2rem;
}



