
.servicios {
    padding-bottom: 4rem;
    h3 {
        padding-bottom: 2rem;
    }
    h4 {
        padding-bottom: 1rem;
    }
}

.servicios__servicios {
    padding: 0 2rem;
    padding-bottom: 5rem;
}

.servicios__card {
    margin: auto;
    max-width: 330px;
}
.servicios__card-texto {
    padding: 1.25rem;
}

.card {
    border: 0;
}

