.ventas {
    h3 {
        max-width: 300px;
        padding-bottom: 2rem;
    }
    p {
        text-align: justify;
    }
    padding-bottom: 4rem;
}

.ventas__text2 {
    p {
        font-family: $yatra;
    }
}